/* Home */

.funcionalidade{
    margin-top: 90px;
}

/* imagem inicio */
.banner-begin{
    background-image: url("/img/bannerInicio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

/* Input buscaf inicio */

.title-form{
    font-weight: 400; 
    text-shadow: 0.5px 0.2px #fff;
}

.icon-serach{
    color: white;
    font-size: 18px;
}

.place-input{
    background-color: white;
    height: 60px;
    border-radius: 4px;
    box-shadow:0px 3px 10px -4px #000;
}

.input-principal{
    height: 100%;
    width: calc(100% - 60px);
    border: none;
    border-radius: 4px;
    padding: 0px 0px 0px 15px;
    font-size: 18px;
}

.input-principal:focus, .btn-enviar:hover, .btn-enviar:active{
    outline: none;
}


.btn-enviar{
    border-radius: 4px;
    height: 54px;
    width: 54px;
    margin: 3px 4px 0px 0px;
    float: right;
    border: none;
    background-color: #ff7f00;
    cursor: pointer;
}

.btn-enviar:hover{
    background-color: #ff8915;
}
