html, body{
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

/* loadPage */

#loadPage{
    background-color: #fff;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    margin-top: 0px;
    top: 0px;
}

/*  Media query loadingPage */
@media screen and (max-width: 990px){

    #loading-center-absolute {
        margin-top: 100px;

    }
    .img-logo-loader{
        z-index: 1000;
        height: 250px;
        width: 500px;
    }
}

.img-logo-loader{
    z-index: 1000;
    height: 125px;
    width: 250px;
}

.img-loader{
    margin-top: -50px;
    height: 300px;
    width: 400px;

}

/* 
    Menu
*/

.ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
  }
/* Bootstrap */
#loading-center-absolute {
 
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

.icon-user{
    width: 16px;
    margin-right: 5px;

}

.nav-bl{
    justify-content: flex-end;

}


.img-logo{
    width: 120px;
}

.menu-login{
    cursor: pointer;
}

.title{
    font-size: 82px;
    text-shadow: 2px 2px 2px #ccc;
    margin: 100px 0px 0px 140px;
}



.list-function{
    margin: 20px 0px 0px 140px;
}

.list-function ul li{
    font-size: 24px;
    list-style-type:none;
    margin: 10px 0px 0px 0px;
    text-shadow: 2px 2px 2px #ccc;
}



.form-search{
    /* padding: 20px;
    border-radius: 25px;
    background-color: #ff7f00;
    /* margin: 100px 0px 0px 0px; */
    padding-top: 90px;

}



.form-group{
	margin-bottom: 15px;
}

.form-control {
    height: auto!important;
    padding: 8px 12px !important;
}
.input-group {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
}




/* POPUP GREY */

@media screen and (max-width: 990px){
    .dialog-grey{
        width: auto;
    }

    .content-grey{
        position: relative;
        width: auto!important;
    }
}



/* position popup */
.modal-grey{
    padding-top:115px;
}

/* tamanho dela */

.content-grey{
    width: 450px;
}

.body-grey{
    margin-top: 15px;
    padding: 1px 20px 30px;
}

.header-grey .nav-tabs>a{
    width: 50%;
}

.header-grey .nav-tabs{
    border: none;
}

.input-grey{
    margin-top:25px;
    display: block;
    width: 100%;
    height: 45px;
    border-radius: 25px;
    border: 0;
    color: #1a212f;
    background: #ccc;
    transition: .3s ease;
}


.header-grey nav{
    width: 100%;
}

.header-grey{
    padding: 0px;
    border-bottom: none;
}


.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    background: none;
    border: none;
    border-radius: 0px 4px 0 0;
    color:#545962;
    transition: .3s ease;
    padding: 15px 15px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
    background: none;
    border: none;
    border-radius: 0px 4px 0 0;
    color:#545962;
    transition: .3s ease;
    padding: 15px 15px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.nav-tabs .nav-item .nav-link, .nav-tabs .nav-link{
    background-color: #303340;
    color: #EBEBEC;
    border:none;
    font-weight: bold;
}

.header-grey .nav-tabs>li a,.header-grey .nav-tabs li a:hover,.header-grey .nav-tabs li a:focus{
    background-color: #303340;
    color: #EBEBEC;
    border:none;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.button-plus{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    background-color: #ff7f00;
    color:white!important;
}

.button-plus:hover{
    background-color:#ff8915;
    border: 1px solid #ccc;
}

.button-grey{
    margin-bottom: 15px;
    border-radius: 25px;
    width: 100%;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    background-color: #ff7f00;
    color:white;
}

.button-grey:hover{
    background-color:#ff8915;
}

.button-delete{
    color: white;
    margin-bottom: 15px;
    border-radius: 25px;
    width: 100%;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    background-color: #9e0000;
}

.button-delete:hover{
    background-color: #e40000;
}




/* Celular */
@media screen and (max-width: 990px){
    .cardHouse{
        margin-left: 40px;
    }


    .bl-titulo{
        font-size: 24px;
    }

    .bl-text{
        font-size: 20px;
    }

    .chat-input{
        width: 93%!important;
    }
}










/* Delete user */

.icon-delete{
    margin-left: 15px;

    color:white;
}

/* Perfil*/

/* Descobrir perfil*/

#descobrir-perfil{
    justify-content: flex-start;
    margin-top: 50px;
}

.blText{
    margin-top: 20px;
}

.chat-input{
    position: fixed;
    bottom: 10px;
    width: 98%;
}

.resposta-nome{
    width: 100%;
    display: flex;
     justify-content: flex-end;
  
}

